@media (max-width:1275px){

    .logos-heading{
      font-size:24px;
    }
  
    .logos-text{
      font-size:14px;
    }
  
    .logos-row{
      gap:30px;
    }

    .logos-divider-highlight{
        left: 15.5%;
    }
  
  }


  @media (max-width:1024px){

    .logos-heading{
      font-size:20px;
      line-height:1.3;
    }
  
    .logos-text{
      font-size:11px;
      line-height: 18px;
    }
  
    .logos-grid{
      gap:30px;
    }
  
    .logos-img{
      height:28px;
    }
  
    .logos-divider-highlight{
        left: 17.8%;
        width: 140px;
    }
  }


  @media (min-width:768px) and (max-width:1023px){

    .logos-grid{
      grid-template-columns:repeat(3,1fr);
      gap:25px;
    }
  
    .logos-heading{
      font-size:20px;
    }
  
    .logos-text{
      font-size:13px;
    }
  
    .logos-divider-highlight{
      left:18%;
      width:120px;
    }
  
    .logos-row{
      justify-content:center;
      gap:46px;
    }
  
  }


  /* MOBILE LOGO SLIDER */
@media (max-width:767px){

    .logos-slider{
      flex-wrap:nowrap;
      overflow-x:auto;
      scroll-snap-type:x mandatory;
      gap:0;
      justify-content:flex-start;
    }
  
    .logos-slider::-webkit-scrollbar{
      display:none;
    }
  
    .logos-slider img{
      flex:0 0 100%;
      max-width:100%;
      height:40px;
      object-fit:contain;
      scroll-snap-align:center;
      display:flex;
      justify-content:center;
    }
  
  }

  @media (max-width:767px){

    .logos-slider{
      flex-wrap:nowrap;
      overflow-x:auto;
      scroll-snap-type:x mandatory;
      justify-content:flex-start;
      gap:0;
    }
  
    .logos-slider::-webkit-scrollbar{
      display:none;
    }
  
    .logos-slider img{
      flex:0 0 100%;
      max-width:100%;
      height:40px;
      object-fit:contain;
      scroll-snap-align:center;
      display:flex;
      justify-content:center;
    }
    .logos-divider-highlight{
      left:27%;
    }
  
  }